<button type="button" (click)="showUploader()" class="btn btn-primary-outline">
  <clr-icon shape="upload-cloud" size="24"></clr-icon>
  นำเข้าข้อมูล
</button>

<div class="row">
  <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>วันที่นำเข้า</th>
          <th>ตั้งแต่</th>
          <th>ถึง</th>
          <th>จำนวน Records</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of importedLogs; let x = index">
          <td>{{ x + 1 }}</td>
          <td>{{ i.importedAt }}</td>
          <td>{{ i.start }}</td>
          <td>{{ i.end }}</td>
          <td>{{ i.total | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<clr-wizard #wizard [clrWizardClosable]="false" [clrWizardSize]="'lg'">
  <clr-wizard-title>นำเข้าข้อมูล</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">ยกเลิก</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">กลับ</clr-wizard-button>
  <clr-wizard-button [type]="'next'">ต่อไป</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">สิ้นสุด</clr-wizard-button>

  <!--<clr-wizard-step [clrWizardStepId]="'step1'">ระบุช่วงวันที่</clr-wizard-step>
  <clr-wizard-step [clrWizardStepId]="'step2'">เลือกไฟล์ที่ต้องการ</clr-wizard-step>-->

  <clr-wizard-page [clrWizardPageNextDisabled]="!startDate || !endDate">
    <ng-template clrPageTitle>ระบุช่วงวันที่</ng-template>
    <form>
      <section class="form-block">
        <div class="form-group">
          <label for="aForm_1">ตั้งแต่วันที่</label>
          <input type="date" (change)="changeDate()" [(ngModel)]="startDate" placeholder="dd/mm/yyyy" name="txtStart">
        </div>
        <div class="form-group">
          <label for="aForm_2">ถึงวันที่</label>
          <input type="date" (change)="changeDate()" [(ngModel)]="endDate" id="aForm_2" placeholder="dd/mm/yyyy" name="txtEnd">
        </div>
      </section>
    </form>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>เลือกไฟล์ที่ต้องการ</ng-template>
    <div class="progress-block" *ngIf="uploading">
      <label>Uploading</label>
      <div class="progress loop">
        <progress></progress>
      </div>
      <!--<span>please wait...</span>-->
    </div>
    <div class="drag-n-drop-container" ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}"
      (onFileOver)="fileOverBase($event)">
      <h1>ลากไฟล์วางลงที่นี่</h1>
      <label class="upload-button">
    <input type="file"
        accept=".csv"
        class="hidden"
        ngFileSelect
        [options]="options"
        [events]="inputUploadEvents"
        (beforeUpload)="beforeUpload($event)"
        (onUpload)="handleUpload($event)">
    เลือกไฟล์
  </label>
    </div>
  </clr-wizard-page>
</clr-wizard>