<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        เปลี่ยนรหัสผ่าน
      </div>
      <div class="card-block">

        <clr-alert [clrAlertType]="'alert-warning'" *ngIf="isError">
          <div class="alert-item">
            <span class="alert-text">
              {{ errorMessage }}
          </span>
          </div>
        </clr-alert>
        <clr-alert [clrAlertType]="'alert-success'" *ngIf="isSuccess">
          <div class="alert-item">
            <span class="alert-text">
              เปลี่ยนรหัสผ่านใหม่เรียบร้อยแล้ว
          </span>
          </div>
        </clr-alert>
        <div class="card-text">
          <form>
            <section class="form-block">
              <div class="form-group">
                <label for="aForm_1">รหัสผ่านใหม่</label>
                <input type="password" name="pwd1" [(ngModel)]="pwd1" placeholder="*******">
              </div>
              <div class="form-group">
                <label for="aForm_2">รหัสผ่านใหม่ (อีกครั้ง)</label>
                <input type="password" name="pwd2" [(ngModel)]="pwd2" placeholder="*******">
              </div>
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" [disabled]="(!pwd1 || !pwd2) || pwd1!=pwd2" (click)="changePassword()" class="btn btn-primary">เปลี่ยนรหัสผ่าน</button>
        <span class="spinner spinner-inline" *ngIf="loading">
            Loading...
        </span>
        <span *ngIf="loading">
            Changing...
        </span>
      </div>
    </div>
  </div>
</div>