
<!--<form>
    <section class="form-block">
        <div class="form-group">
            <label for="formFields_1">ข้อมูลระหว่างวันที่</label>
            <input type="date" name="startDate" [(ngModel)]="startDate" placeholder="ตั้งแต่วันที่">
            <input type="date" name="endDate" [(ngModel)]="endDate" placeholder="ถึงวันที่">
            <button type="button" (click)="doProcess()" [disabled]="processing || !startDate || !endDate" class="btn btn-primary">แสดงข้อมูล</button>
            <button type="button" (click)="excelExport()" [disabled]="processing || !works.length" class="btn btn-success">ส่งออกข้อมูล</button>
        </div>
    </section>
</form>-->

    <div class="row">
      <div class="col-md-3" [style.padding-top.px]="6">
        <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="startDate" required>
        </my-date-picker-th>
      </div>
      <div class="col-md-3" [style.padding-top.px]="6">
        <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="endDate" required>
        </my-date-picker-th>
      </div>
      <div class="col-md-3">
        <button type="button" (click)="doProcess()" [disabled]="processing || !startDate || !endDate" class="btn btn-primary">แสดงข้อมูล</button>
        <button type="button" (click)="excelExport()" [disabled]="processing || !works.length" class="btn btn-success">ส่งออกข้อมูล</button>
      </div>
    </div>

<clr-datagrid [clrDgLoading]="processing">
  <clr-dg-placeholder>ไม่พบข้อมูล กรุณาเลือกเงื่อนไข</clr-dg-placeholder>
    <clr-dg-column [style.width.%]="10" [clrDgField]="'employee_code'">รหัส</clr-dg-column>
    <clr-dg-column [style.width.%]="20" [clrDgField]="'employee_name'">ชื่อ-สกุล</clr-dg-column>
    <clr-dg-column [style.width.%]="10" [clrDgField]="'department_name'">แผนก</clr-dg-column>
    <clr-dg-column [style.width.%]="10">ลงเวลาทั้งหมด(เวร)</clr-dg-column>
    <clr-dg-column [style.width.%]="10">สาย</clr-dg-column>
    <clr-dg-column [style.width.%]="10">ออกก่อน</clr-dg-column>
    <clr-dg-column [style.width.%]="10">ไม่สแกนออก</clr-dg-column>
    <clr-dg-column [style.width.%]="10">ไปราชการ</clr-dg-column>
    <clr-dg-column [style.width.%]="10"></clr-dg-column>

    <clr-dg-row *clrDgItems="let work of works">
        <clr-dg-cell>{{work.employee_code}}</clr-dg-cell>
        <clr-dg-cell>{{work.employee_name}}</clr-dg-cell>
        <clr-dg-cell>{{work.department_name}}</clr-dg-cell>
        <clr-dg-cell>{{work.total_work | number }}</clr-dg-cell>
        <clr-dg-cell>{{work.total_late | number}}</clr-dg-cell>
        <clr-dg-cell>{{work.total_exit_before | number}}</clr-dg-cell>
        <clr-dg-cell>{{work.total_not_exit | number}}</clr-dg-cell>
        <clr-dg-cell>{{work.meeting_total | number}}</clr-dg-cell>
        <clr-dg-cell>
          <a href="javascript:void()" (click)="print(work.employee_code)" class="label label-light-blue clickable">
            พิมพ์
          </a>
        </clr-dg-cell>

    </clr-dg-row>

 <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{pagination.totalItems}} คน
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>